.vibe-page-top-bg-img{
    background-image:url("https://cdn.furrl.in/vibes/VibeCard_HomeHunts.jpg") ;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 10% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.top-sec-content{
    background-image: linear-gradient(rgba(0, 0, 0, 0) 16.36%, rgb(38, 38, 30) 242.73%);
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.top-text{
    color: #fff;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    width: 55%;
    text-align: right;
    margin: 0px;
    margin-right: 20%;
}
 